.p-fieldset .p-fieldset-legend {   
    background: var(--primary-color);
}

app-footer{
    position:sticky;
    bottom: 0;
}

.p-dialog-mask-scrollblocker{
    z-index: 9999 !important;
}

.p-tabview-nav>.ng-star-inserted{
    width: 100%;
}

.p-inputgroup .p-inputtext{
    width: 100% !important;
}

p-inputmask{
    width: 100% !important;
}

.p-dropdown{
    width: 100% !important;
}

.p-multiselect{
    width: 100% !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link{
    // background:var(--primary-color) !important;
    background:lightgray !important;
}

.p-inputgroup-addon{
    background-color: var(--primary-color) !important;
}

.p-error{
    text-align: left;
}

.p-button-rounded{
    height: 2rem !important;
    width: 2rem !important;
}

.bg-lightgray{
    background-color: lightgray !important;
}