<p-confirmPopup></p-confirmPopup>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Add Todo" icon="pi pi-plus"
                        class="p-button-outlined p-button p-mr-2 p-mb-2" (click)="showTodoEditDialog()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt styleClass="p-datatable-striped p-datatable-gridlines" responsiveLayout="stack"
                [rowHover]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,25,50,100]"
                [globalFilterFields]="['title']" [showCurrentPageReport]="true" [value]="list" dataKey="id"
                currentPageReportTemplate="Total {totalRecords} records, showing {first} - {last}">
                <ng-template pTemplate="header">
                    <tr>
                        <th width="70%" pSortableColumn="title" class="bg-lightgray">
                            Todo
                            <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th width="15%" class="bg-lightgray" style="text-align: center;">
                            isComplated
                        </th>
                        <th width="15%" class="bg-lightgray">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-todo let-columns="columns">
                    <tr>
                        <td width="70%">
                            <span class="p-column-title">Adı</span>
                            {{todo.title}}
                        </td>
                        <td width="15%" style="text-align: center;">
                            <span class="p-column-title">isComplated</span>
                            <p-inputSwitch  [(ngModel)]="todo.isComplated" (onChange)="changeActive(todo)"></p-inputSwitch>
                        </td>
                        <td width="15%" style="text-align: center;vertical-align: middle;">
                            <span class="p-column-title">Actions</span>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-outlined p-button-rounded p-button-info mr-2" (click)="showTodoEditDialog(todo)" pTooltip="Edit" tooltipPosition="top"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger mr-2" (click)="confirmDelete($event,todo.id)" pTooltip="Delete" tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" >
                    <tr>
                        <td colspan="3">
                            No Records!
                        </td>
                    </tr>
                </ng-template>
        </p-table>
    </div>
    </div>
</div>


<p-dialog [(visible)]="todoEditDialog" [style]="{width: '30vw'}" [breakpoints]="{'960px': '95vw'}" styleClass="p-fluid" header="Todo Item">
    <ng-template pTemplate="content">
        <todo-save [(todoListDto)]="selectedTodo" (resultState)="saveResult($event)"></todo-save>
    </ng-template>
</p-dialog>
