

        <div class="field">
            <label for="title">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="model.title" required autofocus />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !model.title">Todo is required.</small>
        </div>
        <div class="field">
            <label for="dueDate">Due Date</label>
            <p-calendar id="dueDate" [(ngModel)]="dueDate" showButtonBar="true" appendTo="body"></p-calendar>
        </div>
        <!-- <div class="field">
            <label for="isComplated">Is Complated</label>
            <p-inputSwitch [(ngModel)]="model.isComplated" class="m-3"></p-inputSwitch>
        </div> -->

        <div class="col-12 flex justify-content-end">
            <p-button class="mr-1" label="Cancel" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
                [style]="{'margin-right': '.5em'}" (onClick)="cancel()"></p-button>
            <p-button label="Save" icon="pi pi-check" styleClass="p-button-outlined p-button"
                [style]="{'margin-right': '.5em'}" (onClick)="save()"></p-button>
        </div>


