<div class="col-12 mt-3">
    <div class="grid">
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input [(ngModel)]="model.title" type="text" pInputText
                        [ngClass]="{'ng-invalid ng-dirty':submitted && !model.title}" />
                    <label>Todo</label>
                </span>
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input [(ngModel)]="model.dueDate" type="text" pInputText
                        [ngClass]="{'ng-invalid ng-dirty':submitted && !model.dueDate}" />
                    <label>Overdue Date</label>
                </span>
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-inputSwitch [(ngModel)]="model.isComplated"></p-inputSwitch>
                    <label>IsComplated</label>
                </span>
            </div>
            <small class="p-invalid p-error" *ngIf="submitted && !model.title">Required!</small>
        </div>
        <div class="col-12 flex justify-content-end">
            <p-button class="mr-1" label="Cancel" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
                [style]="{'margin-right': '.5em'}" (onClick)="cancel()"></p-button>
            <p-button label="Save" icon="pi pi-check" styleClass="p-button-outlined p-button"
                [style]="{'margin-right': '.5em'}" (onClick)="save()"></p-button>
        </div>
    </div>
</div>
